html,body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: Copperplate, Papyrus, fantas;
  font-size: 60px;
  color: #01937C;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #3C8DAD;
  font-weight: normal;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #3C8DAD;
  font-weight: normal;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
p {
  font-size: 20px;
  color: #40514E;
}
a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color: #CAF7E3;
  padding-top: 100px;

}
.middle-container {
  padding-top: 30px;
}
.bottom-container {

}
.img-logo {
  border-radius: 100%;
}

.top-cloud{
  position: absolute;
  right: 250px;
  top: 150px;
  bottom: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
}
.web-p-heading {
  font-family: Copperplate, Papyrus, fantas;
  color: #01937C;
  font-size: 30px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.skill-row {
  width: 50%
  margin: 100px auto 100px auto;
  line-height: 2;
}
.code-img {
  width: 25%
  float: left;
}
.question-img {
  width: 25%
  float: right;
}
.skills {
  padding-top: 20px;
  padding-bottom: 20px;
}
.profile {
  padding-bottom: 20px;
}
.contact-me {
  padding-top: 0px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #119999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #119999e);
  background-image: -o-linear-gradient(top, #11cdd4, #119999e);
  background-image: linear-gradient(to bottom, #11cdd4, #119999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  bottom: 30px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {

  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.main-heading {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.web-p-heading {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  padding-bottom: 90px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
}

.work {
  position: relative;
  bottom: 50px;
  left: 350px;
  font-size: 25px;
}

.work:hover {
  color: black;
}

.work-heading{

}

.work-heading-main {
  text-align: center;
  color: #CAF7E3;
  background-color: black;
}

.middle-container-work {

}

.first-img-txt {
  font-size: 20px;
}

.second-img-txt {
  font-size: 20px;
}

.third-img-txt {
  font-size: 20px;
}

.img-div {
  padding: 20px;
}

.img-div-2 {
  padding: 20px;
}

.img-div-3 {
  padding: 20px;
}

.middle-container-work {
  padding: 20px;
}

.work-body {
  background-color: #C7FFD8;
}

.first-img {

}

.second-img {

}

.third-img {

}

.contact-me-work {
  padding-top: 90px;
}

.img-div-3 {
  margin-bottom: 30px;
}

.bottom-container {
  padding: 50px 0px 20px;
}

.img-div-4 {
  padding: 20px;
}

.img-div-5 {
  padding: 20px;
}

.img-div-6 {
  padding: 20px;
  margin-bottom: 30px;
}
